body{
    background-color:white;
    padding-top: 25px;
    padding-left: 50px;
    padding-right: 50px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: darkgreen;
    justify-items: center;
    align-self: center;
    display: block;
    border: 5px solid darkgreen;
}

h3{
    font-size:medium;
    font-weight: bold;
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 50px;
}

#carte{
    width: 80vw;
    height: 100vh;
}